@font-face {
  font-family: "iconfont"; /* Project id 4099094 */
  src: url('iconfont.woff2?t=1685602411734') format('woff2'),
       url('iconfont.woff?t=1685602411734') format('woff'),
       url('iconfont.ttf?t=1685602411734') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianshen:before {
  content: "\e916";
}

.icon-wenjianjia:before {
  content: "\e917";
}

.icon-daxue:before {
  content: "\e918";
}

.icon-jisuanqi:before {
  content: "\e919";
}

.icon-nannv:before {
  content: "\e91a";
}

.icon-gongwenbao:before {
  content: "\e91b";
}

.icon-jianzhu:before {
  content: "\e91c";
}

.icon-jinrong:before {
  content: "\e91d";
}

.icon-xueshi:before {
  content: "\e91e";
}

.icon-renzheng:before {
  content: "\e91f";
}

.icon-tongqian:before {
  content: "\e920";
}

.icon-danao:before {
  content: "\e921";
}

.icon-aiqing:before {
  content: "\e922";
}

.icon-shuju:before {
  content: "\e923";
}

.icon-jiaoyu:before {
  content: "\e924";
}

.icon-hunjie:before {
  content: "\e925";
}

.icon-falv:before {
  content: "\e926";
}

.icon-laoban:before {
  content: "\e927";
}

.icon-meiyuan:before {
  content: "\e928";
}

.icon-gengduo:before {
  content: "\e929";
}

.icon-xiangji:before {
  content: "\e92a";
}

.icon-yinzhang:before {
  content: "\e92b";
}

.icon-yuanbao:before {
  content: "\e92c";
}

.icon-chushi:before {
  content: "\e92d";
}

.icon-xueshimao:before {
  content: "\e92e";
}

.icon-yingyu:before {
  content: "\e92f";
}

.icon-jianzhu2:before {
  content: "\e930";
}

.icon-baobao:before {
  content: "\e931";
}

.icon-shuju1:before {
  content: "\e932";
}

.icon-shuju2:before {
  content: "\e933";
}

.icon-feiji:before {
  content: "\e934";
}

.icon-cha:before {
  content: "\e935";
}

.icon-huaxue:before {
  content: "\e936";
}

.icon-shu:before {
  content: "\e937";
}

.icon-fabuchenggong:before {
  content: "\e938";
}

.icon-fabu:before {
  content: "\e939";
}

.icon-xunhaizi:before {
  content: "\e93a";
}

.icon-lingdai:before {
  content: "\e93b";
}

.icon-jing:before {
  content: "\e93c";
}

.icon-zhen:before {
  content: "\e93d";
}

.icon-bagua:before {
  content: "\e93e";
}

.icon-aiqing1:before {
  content: "\e93f";
}

